<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <script src=" {{url_for('static', filename='main.js')}} "></script>
    <link rel="icon" href="{{url_for('static', filename='icons8-rock-16.png')}}">
    <title>Rock Scalers</title>
</head>
<header class="header" id="header">
    <img id="search_icon" class="centre" src="{{url_for('static', filename='icons8-search-50.png')}}" style="height: 4vh; left: 3vh;">
    <span class="centre", style="width: 60%; color: var(--background_color);">
        Rock Scalers
    </span>
    <span class="order_div">
        <button class="order_button">Sort</button>
        <div class="order_types">
            <a href="/relevance">Relevance</a>
            <a href="/price-min">Price ASC</a>
            <a href="/price-max">Price DESC</a>
        </div>
    </span>
</header>
<body style="display: flex; flex-wrap: wrap;">
    {% for product in products: %}
        <a class="product_card" href="/product{{product[0]}}">
            <div>
                <img src="https://{{ product[5] }}">
                <h1>{{product[1]}}</h1>
                <p class="price">${{product[3]}}</p>
                <p>
                    {% for word in product[2].split(' ')[:30]: %}
                        {{word}}
                    {% endfor %}
                    ...
                </p>
            </div>
        </a>
    {% endfor %}
</body>
</html>