<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style_m.css')}} ">
    <script src=" {{url_for('static', filename='main.js')}} "></script>
    <script src=" {{url_for('static', filename='search_m.js')}} "></script>
    <link rel="icon" href="{{url_for('static', filename='icons8-rock-16.png')}}">
    <title>Rock Scalers</title>
</head>
<header class="header" id="search_h" style="background-color: transparent; visibility: hidden;">
    <span>
        <button onclick="search()" type="submit" style="height: 4vh; width:4vh; left: 1vh; position:relative; top:0.5vh; background:transparent; border:transparent;"><img id="search_icon" class="centre" src="/static/icons8-search-50.png" style="height: 4vh; left: 1;">
        </button>
    </span>
    <input class="centre" style="height: 4vh; left: 55vw; width: 85vw; text-align: left; background: transparent; border-radius: 1vh;" type="text" placeholder="Search..." id="search box">    
</header>

<header class="header" id="header" style="background-color: transparent;">
    <span>
        <button onclick="search_appear()" type="submit" style="height: 4vh; width:4vh; left: 1vh; position:relative; top:0.5vh; background:transparent; border:transparent;"><img id="search_icon_h" class="centre" src="/static/icons8-search-50.png" style="height: 4vh; left: 1;">
        </button>
    </span>
    <a href="/s=relavence&q=null">
        <span class="centre" ,="" style="width: 60%; color: var(--background_color);">
            Rock Scalers
        </span>
    </a>
    <span class="order_div">
        <button class="order_button">Sort</button>
        <div class="order_types">
            <a href="/s=relevance&q=null">Relevance</a>
            <a href="/s=price-min&q=null">Price ASC</a>
            <a href="/s=price-max&q=null">Price DESC</a>
        </div>
    </span>
    <a href="/cart" class="centre" style="left:95vw;"><img src=" /static/shopping-cart.png " style="height:4vh; max-height:4vh"></a>
</header>
<body style="display: flex; flex-wrap: wrap;">
    <div style="position: relative; top: 5vh;">
    {% for product in products: %}
        <a class="product_card" href="/product{{product[0]}}">
            <div>
                <img src="https://{{ product[5] }}">
                <h1>{{product[1]}}</h1>
                <p class="price">${{product[3]}}</p>
                <p>
                    {% for word in product[2].split(' ')[:30]: %}
                        {{word}}
                    {% endfor %}
                    ...
                </p>
            </div>
        </a>
    {% endfor %}
    </div>
</body>
</html>