<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <script src=" {{url_for('static', filename='main.js')}} "></script>
    <script src=" {{url_for('static', filename='search.js')}} "></script>
    <link rel="icon" href="{{url_for('static', filename='icons8-rock-16.png')}}">
    <title>Rock Scalers</title>
</head>
<header class="header" id="header">
    <span>
        <button onclick="search()" type="submit" style="height: 4vh; width:4vh; left: 1vh; position:relative; top:0.5vh; background:transparent; border:transparent;"><img id="search_icon" class="centre" src="{{url_for('static', filename='icons8-search-50.png')}}" style="height: 4vh; left: 1;">
        </button>
    </span>
    <input class="centre" style="height: 4vh; left: 14vw; width: 20vw; text-align: left; background:transparent; border-radius: 1vh;" type="text" placeholder="Search..." id="search box">
    <a href="/s=relavenceq=null">
        <span class="centre", style="width: 60%; color: var(--background_color);">
            Rock Scalers
        </span>
    </a>
    <a href="/cart" class="centre" style="left:98%;"><img src=" {{url_for('static', filename='shopping-cart.png')}} " style="height:4vh; max-height:4vh"></a>
</header>
<body style="display: flex;">
    <div style="width: 55%;">
        <img src="https://{{ product[5] }}" style="max-width: 100%; max-height: 95%; height: 95vh; display: inline-flex;">
    </div>
    <div style="width: 35%; display: block; padding: 1%;">
        <h1>{{product[1]}}</h1>
        <h2 class="price"> ${{product[3]}}</h2>
        <p style="font-size: larger;">
            {%for word in product[2].split(' ')[:-1]: %}
                {%if word != '': %}
                    {{ word }}
                {%endif %}
            {%endfor %}
        </p>
        <a href="/add_p={{product[0]}}">
            <button style="height: 5vh; width:30vw; position: relative;" class="centre">Add to Cart</button>
        </a>
    </div>
</body>
</html>